<!--Appointment List View-->

@{
    ViewData["Title"] = "Appointments";
}

@model List<Appointment>

<table class="table table-bordered table-striped table-hover table-dark">

    <thead class="font-weight-bold">
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone Number</td>
        
        </tr>
    </thead>

    <tbody>
        <!--Loop through appointments in database to fill table-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Timeslot.DateTime.ToShortDateString()</td>
                <td>@item.Timeslot.DateTime.ToShortTimeString()</td>
                @*<td>@item.Time</td>*@
                <td>@item.GroupName</td>
                <td>@item.SizeOfGroup</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>

                <!--buttons for user to edit/delet an appointment-->
                <td><a class = "btn btn-outline-info" asp-controller="Home" asp-action="Edit" asp-route-appid="@item.AppointmentId">Edit</a></td>
                <td><a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-appid="@item.AppointmentId">Delete</a></td>
            </tr>
        }
    </tbody>

</table>